.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background: #4267B2;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50vw;
  align-items: center;
}

.nav-logo {
  min-width: 10vw;
}